@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-color: #49a989;
    color: black;
}
img{
    text-align:end;
    width: 32px;
    height: 32px;
}
button:hover{
    background-color: #a2a2a2;
    cursor: pointer;
}
button{
     width: 70px;
     height: 75px;
     font-size: 26px;
     margin: 2px;
    border-radius: 8px;
    border: none;
    padding: 10px 0px;
}
h2{
padding: 10px 0px;
}
.resultado{
    border-radius: 8px;
    text-align: right;
    background-color: #e2e2e2;
    height: 55px;
    font-size: 24px;
    padding-right: 5px;
    
}
.calculadora{
    text-align: center;
    background-color: #ffffff;
    padding: 24px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgb(0 0 0 / 30%);
    
}
.container{
    display: flex;
    justify-content: center;
    margin: 95px auto;
}